body{
    padding: 0;
    background-color: #ff6666; 
    margin: 0;
    font-family: Arial;
    border : border-box;
    display: flex;
    align-items: center;
    
}
#logo
{
height: 550px; width: 550px; border-width: 8px; border-style: double; margin-top: 70px; margin-left: 60px;
margin-right: 80px;
z-index: -1;
}
.name
{
    position: relative;
    z-index:-1;
    margin-right: 100px;
}
#intro
{
    position: absolute;
    margin-left: 710px;
    margin-top: 100px;
}
#button
{
    margin-top: 150px;
     
}
